<script
  type="text/javascript"
  src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"
></script>
<link rel="stylesheet" href="/css/report.css" />

<div class="container-lg">
  <form action="">
    <table id="tbl_exporttable_to_xls">
      <thead>
        <tr class="table100-head">
          <th scope="col">Title</th>
          <th scope="col">Code</th>
          <th scope="col">Recommended Classes</th>
          <th scope="col">Number of Student</th>
          <th scope="col">Student number each class</th>
        </tr>
      </thead>
      <tbody>
        <% course.forEach(function (item, index) {%>
        <tr>
          <td class="column1"><%=item.courseName%></td>
          <td class="column2"><%=item.code%></td>
          <td class="column1"><%-Math.ceil(item.id.length/25)%></td>
          <td class="column2"><%=item.id.length%></td>
          <td class="column1">25</td>
        </tr>
        <%});%>
      </tbody>
    </table>
    <div class="mt-4 export" onclick="ExportToExcel('xlsx')">
      <img
        src="img/export.gif"
        alt="Computer man"
        style="width: 48px; height: 48px"
      />
    </div>
  </form>
</div>
<script>
  function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById("tbl_exporttable_to_xls");
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl
      ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
      : XLSX.writeFile(wb, fn || "Report." + (type || "xlsx"));
  }
</script>
